In [14]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier,BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [15]:
df = pd.read_csv("clslowbwt.csv")
df.shape

(488, 8)

In [16]:
df.head()

   ID  BIRTH  SMOKE  RACE  AGE  LWT   BWT  LOW
0   1      1      1     3   28  120  2865    0
1   1      2      1     3   33  141  2609    0
2   2      1      0     1   29  130  2613    0
3   2      2      0     1   34  151  3125    0
4   2      3      0     1   37  144  2481    1

In [18]:
X = df.iloc[:,1:-2]
print(X.shape)

(488, 5)

In [19]:
X.head()

   BIRTH  SMOKE  RACE  AGE  LWT
0      1      1     3   28  120
1      2      1     3   33  141
2      1      0     1   29  130
3      2      0     1   34  151
4      3      0     1   37  144

In [20]:
y=df.iloc[:,-1]

In [21]:
print(y.shape)

(488,)

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state =1)

In [23]:
dt = DecisionTreeClassifier(max_depth=None, min_samples_split=2,random_state=0)
scores = cross_val_score(dt, X_train, y_train)
print(scores.mean())                             

rfc = RandomForestClassifier(n_estimators=100, max_depth=None,min_samples_split=2, random_state=0)
scores = cross_val_score(rfc,X_train, y_train)
print(scores.mean())

0.5512376555085289
0.6566115172502244

In [24]:
eclf = BaggingClassifier(base_estimator= dt)

In [13]:
scores = cross_val_score(eclf,X_train, y_train)
print(scores.mean())

0.6303706553802745